<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Project</title>
    <link rel="stylesheet" href="./stylesDDMMF.css">
</head>
<body>
    <header class="header">
        <nav class="header-container">
            <div class="container-options">
                <div class="items">
                    <div class="logo">
                        <img src="https://img.icons8.com/color/48/000000/starbucks.png"/>
                    </div>
                    <div class="header-menu">
                        <img src="https://img.icons8.com/material-sharp/24/000000/delete-sign.png"/>
                    </div>
                </div>
            </div>
        </nav>
        <div class="header-menu-container">
            <section class="menu-container">
                <div class="menu">
                    <a href="" class="menu-txt">Menu</a>
                    <a href="" class="arrow">
                        <img src="https://img.icons8.com/material-outlined/24/000000/more-than.png"/>
                    </a>
                </div>
                <a href="" class="rewards">Rewards</a>
                <a href="" class="gift-card">Gift Cards</a>
            </section>
            <section class="account-store">
                <div class="register">
                    <a href="" class="signin primary-button">Sign in</a>
                    <a href="" class="join primary-button">Join now</a>
                </div>
                <div class="location">
                    <a href="" class="pointer">
                        <img src="https://img.icons8.com/material-rounded/24/000000/marker.png"/>
                    </a>
                    <a href="" class="store">Find a store</a>
                </div>
            </section>
        </div>
    </header>
</body>
</html>