<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Project</title>
    <link rel="stylesheet" href="./stylesOptions.css">
</head>
<body>
    <header class="header">
        <nav class="header-container">
            <div class="container-options">
                <div class="items">
                    <div class="logo">
                        <img src="https://img.icons8.com/color/48/000000/starbucks.png"/>
                    </div>
                    <div class="header-menu">
                        <img src="https://img.icons8.com/material-sharp/24/000000/delete-sign.png"/>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper-menu-container">
        <section class="menu-container">
            <div class="menu">
                <a href="" class="arrow-back">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/back.png"/>
                </a>
                <a href="" class="menu-txt">Menu</a>
            </div>
            <a href="" class="options">All products</a>
            <a href="" class="options">Featured</a>
            <a href="" class="options">Previous Orders</a>
            <a href="" class="options">Favorite Products</a>
        </section>
    </div>
</body>
</html>