<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Project</title>
    <link rel="stylesheet" href="./stylesBody.css">
</head>
<body>
    <header class="header">
        <nav class="header-container">
            <div class="container-options">
                <div class="items">
                    <div class="logo">
                        <img src="https://img.icons8.com/color/48/000000/starbucks.png"/>
                    </div>
                    <div class="header-menu">
                        <img src="https://img.icons8.com/external-tal-revivo-regular-tal-revivo/24/000000/external-mobile-application-hamburger-menu-setting-interface-basic-regular-tal-revivo.png"/>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="cards-container">
        <div class="mood-container">
            <div class="card-img__coffee">
                <img class="img__coffee" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-76036.jpg" alt="Two creamy coffees">
            </div>
            <div class="card-mood">
                <h2>Choose your mood</h2>
                <br>
                <p>Go for the comforting flavors of a Pistachio Latte or the lively layers of an Iced Brown Sugar Oatmilk Shaken Espresso.</p>
                <br>
                <a href="" class="explore primary-button">Explore the winter menu</a>
            </div>
        </div>
        <div class="favorite-container">
            <div class="card-img__cellphone">
                <img class="cellphone" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-76033.png" alt="">
            </div>
            <div class="card-favorite">
                <h3>Your favorites. Your way.</h3>
                <br>
                <p>Download the app to customize your drink, order ahead and earn Rewards.*</p>
                <br>
                <a href="" class="favorite primary-button">Download the Starbucks app</a>
            </div>
        </div>
        <div class="delivery-container">
            <div class="card-img__bags">
                <img class="bags" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-76034.jpg" alt="">
            </div>
            <div class="card-delivery">
                <h3>Coffee delivered. Day made.</h3>
                <p>Your go-to order can come to you! Check the Uber Eats app for availability and restrictions.**</p>
                <a href="" class="delivery primary-button">Order now</a>
            </div>
        </div>
        <div class="bonus-container">
            <div class="card-img__credit">
                <img class="star" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-75418.jpg" alt="">
            </div>
            <div class="card-bonus">
                <h3>Earning 4,500 Bonus Stars is Super Starifying</h3>
                <p>Earn more Stars and even more Rewards with a <strong> $0 intro annual fee for your first year</strong> with the Starbucks® Rewards Visa® Card. Plus your Stars won’t expire – an exclusive Starbucks benefit for cardmembers. Now that’s Super Starifying.</p>
                <a href="" class="bonus primary-button">Learn more</a>
            </div>
        </div>
        <div class="mentions-container">
            <div class="card-img__barista">
                <img class="barista" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-76691.jpg" alt="">
            </div>
            <div class="card-mentions">
                <h3>Celebrating Black History Month</h3>
                <p>Join us as we recognize the everyday Black excellence of our partners (employees). Explore ways to help cultivate the next generation of excellence.</p>
                <a href="" class="mentions primary-button">Learn more</a>
            </div>
        </div>
        <div class="recommendation-container">
            <div class="card-img__book">
                <img class="book" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-76831.jpg" alt="">
            </div>
            <div class="card-recommendations">
                <h3>Loved <em> Sweet Magnolias</em> on Netflix?</h3>
                <p>Watch our social series about book-to-screen adaptations to hear from the storytellers who brought the beloved novels to life.</p>
                <a href="" class="recommendations primary-button">Watch now</a>
            </div>
        </div>
    </section>
    <section></section>
</body>
</html>