<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Project</title>
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="stylesheet" href="./stylesMF.css">
</head>
<body>
    <header class="header">
        <nav class="header-container">
            <div class="container-options">
                <div class="items">
                    <div class="logo">
                        <img src="https://img.icons8.com/color/48/000000/starbucks.png"/>
                    </div>
                    <div class="header-menu">
                        <img src="https://img.icons8.com/external-tal-revivo-regular-tal-revivo/24/000000/external-mobile-application-hamburger-menu-setting-interface-basic-regular-tal-revivo.png"/>
                    </div>
                    <!-- <div class="header-wrapper">
                        <a class="dropbtn">
                            <img src="https://img.icons8.com/external-tal-revivo-regular-tal-revivo/24/000000/external-mobile-application-hamburger-menu-setting-interface-basic-regular-tal-revivo.png"/>
                        </a>
                        <div class="header-menu-options">
                            <ul class="menu-options">
                                <li>MENU</li>
                                <li>REWARDS</li>
                                <li>GIFT CARDS</li>
                            </ul>
                        </div>
                        <div class="header-menu-right">
                            <ul class="account-info">
                                <li><a class="singin" href="">Sign in</a> </li>
                                <li><a class="join" href="">Join now</a> </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </nav>
    </header>
    <!-- <main>
        <section class="cards">
            <div class="card-img__coffee">
            </div>
            <div class="card-mood">
                <h2>Choose your mood</h2>
                <p>Go for the comforting flavors of a Pistachio Latte or the lively layers of an Iced Brown Sugar Oatmilk Shaken Espresso.</p>
                <a>Explore the winter menu</a>
            </div>
            <div class="card-img__cellphone"></div>
            <div class="card-favorite">
                <h3>Your favorites. Your way.</h3>
                <p>Download the app to customize your drink, order ahead and earn Rewards.*</p>
                <a>Download the Starbucks app</a>
            </div>
            <div class="card-img__bags"></div>
            <div class="card-delivery">
                <h3>Coffee delivered. Day made.</h3>
                <p>Your go-to order can come to you! Check the Uber Eats app for availability and restrictions.**</p>
                <a>Order now</a>
            </div>
            <div class="card-img__credit"></div>
            <div class="card-bonus">
                <h3>Earning 4,500 Bonus Stars is Super Starifying</h3>
                <p>Earn more Stars and even more Rewards with a $0 intro annual fee for your first year with the Starbucks® Rewards Visa® Card. Plus your Stars won’t expire – an exclusive Starbucks benefit for cardmembers. Now that’s Super Starifying.</p>
                <a>Learn more</a>
            </div>
            <div class="card-img__barista"></div>
            <div class="card-mentions">
                <h3>Celebrating Black History Month</h3>
                <p>Join us as we recognize the everyday Black excellence of our partners (employees). Explore ways to help cultivate the next generation of excellence.</p>
                <a>Learn more</a>
            </div>
            <div class="card-img__book"></div>
            <div class="card-recommendations">
                <h3>Loved Sweet Magnolias on Netflix?</h3>
                <p>Watch our social series about book-to-screen adaptations to hear from the storytellers who brought the beloved novels to life.</p>
                <a>Watch now</a>
            </div>
        </section>
        <section class="conditions">
            <p class="text-1">*At participating stores. Some restrictions apply. See http://starbucks.com/rewards for details.</p>
            <p class="text-2">**Menu limited. Restricted delivery area. Available in participating locations only. Fees subject to change. Prices for Starbucks® items purchased through Uber Eats may be higher than posted in stores or as marked. See the Uber Eats app for details.</p>
        </section>
        <section class="information">
            <nav>
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Social Impact</a></li>
                    <li><a href="">For Business Partners</a></li>
                    <li><a href="">Order and Pickup</a></li>
                </ul>
                <div class="aboutus-content">
                    <li>Our Company</li>
                    <li>Our Coffee</li>
                    <li>Stories and News</li>
                    <li>Starbucks Archive</li>
                    <li>Investor Relations</li>
                    <li>Costumer Service</li>
                </div>
            </nav>
        </section>
    </main>
    <footer>
        <section class="social-networks">
            <div><img src="https://img.icons8.com/ios-glyphs/30/000000/spotify.png"/></div>
            <div><img src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png"/></div>
            <div><img src="https://img.icons8.com/windows/32/000000/pinterest.png"/></div>
            <div><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"/></div>
            <div><img src="https://img.icons8.com/ios-glyphs/30/000000/youtube-play.png"/></div>
            <div><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter-circled--v1.png"/></div>
        </section>
        <section class="policy">
            <nav>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Use</li>
                    <li>CA Suppli Chain Act</li>
                    <li>Cookie Preferences</li>
                </ul>
            </nav>
        </section>
    </footer> -->
</body>
</html>